<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Transcriber</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    {% include 'navbar.html' %}

    <p class="text-center fw-bold font-Poppins fs-1 mt-5 mx-5">Generate Transcripts for Video and Audio in seconds 🚀
    </p>

    <div class="container my-4">
        <form enctype="multipart/form-data" action="/transcribe" method="post" id="transcriptionForm"
            onsubmit="showTranscriptionInProgress()">
            <div class="mb-3">
                <label for="formFile" class="form-label">Select an Audio or Video File</label>
                <input class="form-control" type="file" name="audioFile" id="formFile" accept="audio/*,video/*" required>
            </div>
            <div class="mb-3">
                <div class="form-floating">
                    <select name="language" class="form-select" id="floatingLanguageSelect" aria-label="Floating label select example" required>
                        <option selected disabled>Select Language</option>
                        {% for code, language in LANGUAGES.items() %}
                            <option value="{{ code }}">{{ language }}</option>
                        {% endfor %}
                    </select>
                    <label for="floatingLanguageSelect">Select Language</label>
                </div>
            </div>            
            <div class="mb-3">
                <div class="form-floating">
                    <select name="model" class="form-select" id="floatingModelSelect"
                        aria-label="Floating label select example" required>
                        <option selected disabled>Select Model</option>
                        <option value="tiny">Tiny</option>
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large-v2">Large🌟</option>
                    </select>
                    <label for="floatingModelSelect">Select Model</label>
                </div>
            </div>
            <button type="submit" class="btn btn-success" style="background-color: rgb(31, 167, 167);">Transcribe</button>
        </form>
    </div>
    <script>
        function showTranscriptionInProgress() {

            var audioFile = document.getElementById('formFile').value;
            var language = document.getElementById('floatingLanguageSelect').value;
            var model = document.getElementById('floatingModelSelect').value;

            if (audioFile && language && model) {
                var alertDiv = document.createElement('div');
                alertDiv.className = 'alert alert-info alert-dismissible fade show fixed-top mt-5';
                alertDiv.role = 'alert';
                alertDiv.innerHTML = '<strong>Transcribing audio. Please wait...</strong>' +
                                     '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
                document.body.appendChild(alertDiv);
            }
            return true;
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>
