<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transly</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary px-5 ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Transly</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse justify-content-end navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Pricing</a>
                </div>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> {{ messages[0] | safe}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endwith %}

    <p class="text-center fw-bold font-Poppins fs-1 mt-5 mx-5">Generate Transcripts for Video and Audio in seconds.
    </p>
    <div class="container my-4">
        <form enctype="multipart/form-data" action="/transcribe" method="post" id="transcriptionForm">
            <div class="mb-3">
                <label for="formFile" class="form-label">Select an Audio or Video File</label>
                <input class="form-control" type="file" name="audioFile" id="formFile" accept="audio/*,video/*" required>
            </div>
            <div class="mb-3">
                <div class="form-floating">
                    <select name="language" class="form-select" id="floatingLanguageSelect"
                        aria-label="Floating label select example" required>
                        <option selected disabled>Select Language</option>
                        <option value="en">English</option>
                        <option value="hi">Hindi</option>
                        <option value="es">Spanish</option>
                        <option value="fr">French</option>
                        <!-- Add more languages here -->
                    </select>
                    <label for="floatingLanguageSelect">Select Language</label>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-floating">
                    <select name="model" class="form-select" id="floatingModelSelect"
                        aria-label="Floating label select example" required>
                        <option selected disabled>Select Model</option>
                        <option value="tiny">Tiny</option>
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large-v2">Large🌟</option>
                    </select>
                    <label for="floatingModelSelect">Select Model</label>
                </div>
            </div>
            <button type="submit" class="btn btn-success" style="background-color: rgb(31, 167, 167)">Transcribe</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>
